<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BW5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BW5.styles.css" asp-append-version="true" />
    <style>
    .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    }

    .sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
    }

    .sidebar .logo img {
    max-width: 120px;
    height: auto;
    border-radius: 15%;
    }

    .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #61dafb;
    display: block;
    }

    .sidebar a:hover {
    background-color: #ddd;
    }

    .content {
    margin-left: 260px;
    padding: 20px;
    background-color: #f8f9fa;
    color: #343a40;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 80px); /* Assicura che il contenuto riempia lo spazio sopra il footer */
    }

    footer {
    background-color: #343a40;
    color: #adb5bd;
    padding: 10px 0; /* Riduce l'altezza del footer */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto; /* Permette al contenuto del footer di determinare l'altezza */
    }

    footer h5 {
    color: #61dafb;
    margin-bottom: 10px; /* Riduce lo spazio sotto il titolo */
    }

    footer a {
    color: #61dafb;
    text-decoration: none;
    }

    footer a:hover {
    text-decoration: underline;
    }
    </style>
</head>
<body>
    <div class="sidebar">
        <!-- Spazio per il logo -->
        <div class="logo">
            <img src="~/images/logo_nosfondo.png" alt="Logo">
        </div>

        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <!--Farmacista-->
        <a asp-area="" asp-controller="Recoveries" asp-action="Index">Cuccioli in Cura</a>
        <a asp-area="" asp-controller="Visits" asp-action="Index">Agenda Visite</a>

        <!--Veterinario-->
        <a asp-area="" asp-controller="Cabinets" asp-action="Index">Farmacia della Clinica</a>
        <a asp-area="" asp-controller="Drawers" asp-action="Index">Cassetti Medici</a>
        <a asp-area="" asp-controller="Products" asp-action="Index">Prodotti</a>
        <a asp-area="" asp-controller="Sales" asp-action="Index">Vendite</a>
        <a asp-area="" asp-controller="Suppliers" asp-action="Index">Fornitori e Ditte</a>
        <a asp-area="" asp-controller="Home" asp-action="Logout">Esci dalla Cuccia</a>
        <!-- Aggiungi altri link qui secondo le tue necessità -->
    </div>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>