@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti Nella Clinica Zampa Magica!</h1>
    <img src="~/images/logo_nosfondo.png" alt="Logo Clinica" />
</div>
