@model IEnumerable<BW5.Models.Cabinet>

@{
    ViewData["Title"] = "Elenco Armadi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Armadi</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Aggiungi un nuovo Armadio</a>
    </p>
    <table class="table table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Codice</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Code)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Modifica</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Dettagli</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Elimina</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
