@model BW5.Models.Drawer

@{
    ViewData["Title"] = "Elimina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questo cassetto?</h3>
<div>
    <h4>Cassetto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cabinet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cabinet.Code)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla Lista</a>
    </form>
</div>
